<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/25/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [40]:
# write your answer here

print("Enter the string: ")
x=input()
lenofstring=len(x)
print('The length of string is:' + str(lenofstring) )

Enter the string:
GouthamNeeth
The length of string is:12

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [24]:
import operator

def strdict(string1):
  string_dictionary = dict()
  for i in string1:
    count = 0
    for s in string1:
      if i == s:
        count += 1
    string_dictionary[i] = count
  sorted_d = dict( sorted(string_dictionary.items(), key=operator.itemgetter(1),reverse=True))
  return sorted_d
string = "google.com"
print("Result:", strdict(string))

Result: {'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [5]:
def sum_items_list(noofitems):  
    sumofnumbers = 0  
    for x in noofitems:  
        sumofnumbers += x  
    return sumofnumbers  
print(sum_items_list([7,4,3]))

14

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [7]:
# write your answer here
def ch_cr(string1):  
  character1 = string1[0]  
  length = len(string1)  
  string1 = string1.replace(character1, '$')  
  str1 = character1 + string1[1:]  
  
  return string1  
  
print(ch_cr('restart'))

$esta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [9]:
# write your answer here

def trial(trial_info):
  print(trial_info)
  return

def evaluate_S(a, b):
  if b == 0:
    trial("Error: Dividing by zero")
  return 3.14 * (1 + a/b)**3
val_a = int(input("Please enter a value for a : "))
val_b = int(input("Please enter a value for b : "))
print(" Expected result : ", evaluate_S(val_a, val_b))

Please enter a value for a : 2
Please enter a value for b : 3
 Expected result :  14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [10]:
# write your answer here

dictionary_1={1:10, 2:20}  
dictionary_2={3:30, 4:40}  
dictionary_3={5:50,6:60}  
dictionary_4 = {}  
for d in (dictionary_1, dictionary_2, dictionary_3): dictionary_4.update(d)  
print(dictionary_4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [11]:
# write your answer here
tuple1 = ("x", 18, "n", "g", "e", "t", "v", "l", "q", "w")
print("g" in tuple1)
print(5 in tuple1)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [15]:
# write your answer here

set_1 = set([27, 24, 24, 18, 1])
print(max(set_1))
print(min(set_1))

27
1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [39]:
import random

student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252',
                'sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907',
                'gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

sizeofgroup=1
no_members_in_group=6
for student in student_list[:]:              
    if no_members_in_group==6:
        print("The Student for Group {} for the project: ".format(sizeofgroup))
        no_members_in_group=0
        sizeofgroup += 1
    idofperson=random.choice(student_list)
    print(idofperson)
    no_members_in_group += 1
    student_list.remove(str(idofperson))

The Student for Group 1 for the project:
nm0618
sg1297
kg0569
sk1458
sa1198
aos0040
The Student for Group 2 for the project:
vm0377
kg0470
dr0609
hy0232
vb0218
fh0141
The Student for Group 3 for the project:
ms1500
nv0234
sm1640
sk1386
ak0934
ak0956
The Student for Group 4 for the project:
av0659
sk1390
sm1907
jl1252
ds0814
sc1229
The Student for Group 5 for the project:
bg0320
sk1313
sb1357
gn0108
ja0964
pr0353

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [33]:
# write your answer here

def find_duplicate_element(numbers):
    number_set = set()
    no_of_duplicate = -1
    for i in range(len(numbers)):
      if numbers[i] in number_set:
            return numbers[i]
      else:
            number_set.add(numbers[i])
    return no_of_duplicate
print(find_duplicate_element([4, 7, 7, 5, 3, 1]))
print(find_duplicate_element([8, 9, 7, 5, 1]))
print(find_duplicate_element([2, 4, 3, 4, 5]))
print(find_duplicate_element([1, 2, 3, 3, 9, 9, 1, 2]))

7
-1
4
3

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [30]:
# write your answer here


from datetime import date, timedelta
def noofsundays(year):
       date_1 = date(year, 1, 1)       
       date_1 += timedelta(days = 6 - date_1.weekday())  
       while date_1.year == year:
          yield date_1
          date_1 += timedelta(days = 7)
for sunday in noofsundays(2019):
   print(sunday)

2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09
2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29